[run]
source = app,main
omit =
    */migrations/*
    */tests.py
    */admin.py
    */apps.py
    */__init__.py
    */venv/*
    */staticfiles/*
    */node_modules/*

[report]
precision = 2
show_missing = True
skip_covered = False

[html]
directory = htmlcov

