/* App.css */
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,wght@0,400;0,900;1,400;1,900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Bodoni Moda', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.Body {
  flex: 1;
  font-family: 'Bodoni Book', sans-serif;
}

.bodoni-moda-header {
  font-family: "Bodoni Moda", serif;
  font-optical-sizing: auto;
  font-weight: 700;  
  font-style: normal;
}
