.body-container {
  background-image: url('../../assets/images/background.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px; 
  color: #141010; 
  position: relative;
  width: 100%; /* Устанавливаем ширину для body-container */
  box-sizing: border-box; /* Учитываем границы и padding в размерах элементов */
  overflow-x: hidden; /* Избегаем горизонтальной прокрутки */
}

/* Стили для слогана */
.slogan-section {
  position: relative;
  text-align: left;
  margin-bottom: 200px;
  width: 100%;
  padding: 0 20px; /* Добавляем отступы слева и справа */
  box-sizing: border-box; /* Учитываем границы и padding в размерах элементов */
}

.slogan {
  font-size: 2rem;
  margin-bottom: 20px;
  color: darkgray;
}

/* Стили для особенностей (features) */
.feature-container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 200px;
  padding: 0 20px; /* Добавляем отступы слева и справа */
  box-sizing: border-box; /* Учитываем границы и padding в размерах элементов */
}

.feature {
  flex: 0 1 calc(33.333% - 40px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  min-height: 200px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.feature.visible {
  opacity: 1;
  transform: translateY(0);
}

.feature-icon {
  font-size: 40px;
  margin-bottom: 15px;
}

.feature-title {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  text-align: center;
}

/* Стили только для услуг */
.services-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
  max-width: 1200px;
  margin-bottom: 40px;
  padding: 0 20px; /* Добавляем отступы слева и справа */
  box-sizing: border-box; /* Учитываем границы и padding в размерах элементов */
}

.service {
  flex-basis: calc(33.333% - 20px);
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-sizing: border-box;
  min-height: 200px;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1.0s ease-out, transform 1.0s ease-out;
}

.service.visible {
  opacity: 1;
  transform: translateY(0);
}

.service-icon {
  font-size: 20px;
  margin-bottom: 15px;
}

.service-title {
  font-size: 1.25rem;
  color: #333;
  margin-bottom: 10px;
}

.service-description {
  font-size: 1rem;
  text-align: center;
}
